.navbar_container {
  position: fixed;
  top: 0;
  padding: 0 1rem;
  height: 70px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.5),
    rgba(55, 63, 61, 0.8)
  );
  box-shadow: 0 1px 2px 0 rgb(142 141 139 / 50%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 10;
}
.navbar_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  align-items: center;
}
.navbar_logo {
  height: 100%;
  cursor: pointer;
}
.navbar_logo img {
  padding: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navbar_link_item {
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}
.navbar_link_item:hover,
.bar_container:hover {
  border-bottom: 1px solid red;
  transition: 350ms;
}

.bar_container {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .navbar_logo{
    height: 90%;
  }
  .navbar_link {
    display: none;
  }
  .navbar_wrapper {
    padding: 0 2rem;
  }
  .navbar_logo img {
    padding: 1.2rem;
  }
  .bar_container {
    display: block;
  }
  .mobile_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      to top,
      rgba(11, 109, 133, 0.925),
      rgba(11, 108, 133, 0.999)
    );
  }
  
}
