.slider_container {
  position: absolute;
  height: 100%;
  width: 15%;
  overflow: hidden;
  z-index: 5;
}
.slider_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: horizont 20s infinite;
  animation-direction: alternate;
  z-index: -1;
}
@keyframes horizont {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
