* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./assets/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
